{lib_dirs, ["../"]}.
{port_sources, ["c_src/*.c"]}.
{so_specs, [
  {"ebin/av_decoder_drv.so", ["c_src/av_decoder.o"]}
]}.
%{port_envs, [{"LDFLAGS", "$LDFLAGS -lavfilter -lavformat -lavcodec -lpostproc -lswscale -lavutil "}]}.
{port_envs, [{"LDFLAGS", "$LDFLAGS -lx264 -lavdevice -lavfilter -lavformat -lavcodec -lpostproc -lswscale -lavutil -lspeex -lmp3lame -lfaac -lbz2 -lz "}]}.
